<app-header></app-header>

<div class="container col-md-6 col-md-offset-6 card mt-2 cardBG">
    <h3 style="text-align: center;">Bill Details</h3>
    <form class="px-2 py-2" [formGroup]="billForm" (ngSubmit)="onSubmit(billForm)">
        <input type="hidden" formControlName="noOfItem">
        <div class="form-group autocomplete">
            <label for="exampleInputEmail1"><strong>Customer Name</strong></label>
            <div class="ng-autocomplete" style="width: 100% !important;">
                <ng-autocomplete [data]="data" [searchKeyword]="keyword" (selected)='selectEvent($event)'
                    (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)' [itemTemplate]="itemTemplate"
                    [notFoundTemplate]="notFoundTemplate" formControlName="custName">
                </ng-autocomplete>

                <ng-template #itemTemplate let-item>
                    <a [innerHTML]="item.name"></a>
                </ng-template>

                <ng-template #notFoundTemplate let-notFound>
                    <div [innerHTML]="notFound"></div>
                </ng-template>
            </div>
            <!-- <select class="form-control" id="custName" formControlName="custName" >
                <option disabled selected>Select Customer</option>
                <option *ngFor="let customer of customerList" [ngValue]="customer.customerId">{{customer.name}}</option>

            </select>
            <div *ngIf="this.billForm.get('custName').invalid && (this.billForm.get('custName').dirty || this.billForm.get('custName').touched)"
    class=" text-danger">This field is required*</div> -->
        </div>
        <label><strong>Items</strong></label>
            <div class="form-row row" *ngFor="let item of [].constructor(itemNo); let i = index">
                <div class="col-md-6 form-group">
                    <label for="">Item Name.</label>
                    <input type="text" class="form-control" id="item{{i+1}}" formControlName="item{{i+1}}" placeholder="Enter Item Name" >
                </div>
                <div class="col-md-2 form-group">
                    <label for="">Rate.</label>
                    <input type="number" class="form-control" id="item{{i+1}}Rate" formControlName="item{{i+1}}Rate" placeholder="Rate" (keyup)="calcAmount(i+1)">
                </div>
                <div class="col-md-2 form-group">
                    <label for="">Unit.</label>
                    <input type="number" class="form-control itemUnit" id="item{{i+1}}Unit" formControlName="item{{i+1}}Unit" placeholder="Unit" (keyup)="calcAmount(i+1)">
                </div>
                <div class="col-md-2 form-group">
                    <label for="">Amount.</label>
                    <input  type="number" class="form-control" id="item{{i+1}}Price" formControlName="item{{i+1}}Price" placeholder="Price">
                </div>
            </div>
        <div class="form-group">
            <a href="#" id="addItem" (click) = "addEle()"><small style="color: blue;">Add More Items<span>&#x2b;</span></small></a>
        </div>

        <label><strong>GST Status</strong></label>
        <div class="radio">
            <label class=""><input type="radio" formControlName="gst" value="1" checked>   With GST</label>
            <label class="ml-3"><input type="radio" formControlName="gst" value="0"> Without GST</label>
        </div>

        <label><strong>Payment Status</strong></label>
        <div class="radio">
          <label class=""><input type="radio" formControlName="isPaid" value="0" checked>  Pending</label>
          <label class="ml-3"><input type="radio" formControlName="isPaid" value="1"> Paid</label>
          <label class="ml-3"><input type="radio" formControlName="isPaid" value="2"> Partial Paid</label>
        </div>

        <div *ngIf = "billForm.value.isPaid == 2">
          <label><strong>Amount Paid</strong></label>
          <div class="col-md-2" style="padding-left: 0; padding-bottom: 2%;">
            <input  type="number" class="form-control" id="amountReceived" formControlName="amountReceived" placeholder="Received Ammount">
          </div>
        </div>

        <button type="submit" name="submit" class="btn btn-primary" [disabled] = "!billForm.valid">Submit</button>
        <br><small style="text-align: center;" *ngIf="!billForm.valid" class=" text-danger">All field are required*</small>
    </form>
</div>
